.scoreboard {
    margin-top: 50px;
}
.scoreboard table {
    width: 100%;
    border-collapse: collapse;
}
.scoreboard table th,
.scoreboard table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.scoreboard button {
    margin-top: 10px;
}